/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin:0;
}

section {
    margin-bottom: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.section-subtitle {
    margin: 8px 0 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
}

.card-link::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color:inherit
}

/****** Header logo ans nav ***********/

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#logo-booki {
    height:19px;
    padding:30px 0px;
}

#top-menu ul {
    display: flex;
    gap: 68px;
    list-style: none;
}

#top-menu ul li a {
    padding-top:14px;
}

#top-menu ul li a:active, #top-menu ul li a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}


/****** Search section and form ***********/

#search-section {
    display:flex;
    flex-direction: column;
    gap: 35px;
}

#search-form {
    box-sizing: border-box;
    display:flex;
    height: 50px;
}

#search-form > * {
    font-size:18px;
    font-weight:700;
}

#search-form > i {
    background-color: var(--main-bg-color);
    color: #000;
    border-radius: 15px 0px 0px 15px;
    line-height: 50px;
    width: 50px;
    text-align: center;
}

#search-form > input[type=search] {
    color: #000;
    border-top: var(--main-bg-color) 1px solid;
    border-bottom: var(--main-bg-color) 1px solid;
    border-left: 0px;
    border-right: 0px;
    padding-left: 24px;
    width: 200px;
}

#search-form > input[type=search]::placeholder {
    color: #000;
    opacity: 1;
}

#search-form > button {
    background-color: var(--main-color);
    color: #fff;
    border:none;
    border-radius: 0 15px 15px 0;
    cursor:pointer;
    padding: 0 16px;
}

.search-icon {
    color:#fff;
    font-size:17px;
    display: none;
}

ul#filters-list, p#filters-label, p.info {
    margin:0;
    padding:0;
}

#filters {
    display:flex;
    align-items:center;
    gap: 15px;
    font-size: 17px;
    font-style: normal;
    font-weight: 700; 
    line-height:46px;
}

#filters-list {
    display:flex;
    list-style: none;
    gap: 15px;
    flex-wrap:wrap;
}

.filter-item {
    border: solid 2px var(--filter-border);
    border-radius:25px;
}

.filter-item i {
    padding-right:10px;
}

.filter-link {
   display:block;
   padding: 0 18px;
   border-radius: 25px;
}

.filter-link:hover {
    background-color: var(--filter-bg-color);
}

#search-info {
    display: flex;
    gap:10px;
    align-items: center;
}

.fa-info {
    border: 1px solid var(--filter-border);
    border-radius:50%;
    font-size: 10px;
    width:24px;
    text-align:center;
    vertical-align: middle;
    line-height: 24px;
    flex-shrink: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-rating .fa-star{
    letter-spacing:-2px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    margin: 33px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-cards .card{
    flex: 1 0 25%;
    padding-bottom:10px;
}

.hebergements-cards img {
    width:100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 4px;
}

.hebergements-cards .card-content {
    padding: 0 10px;
}

.hebergements-cards .card-title,  .hebergements-cards .card-subtitle{
    margin:0;
    margin-bottom: 8px;
}

.hebergements-cards .fa-star{
    font-size:13px;
}

.more-link {
    font-weight: 700;
    font-size:18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activites ***********/

#activites {
    padding:30px;
}

.activites-cards {
    margin-top:30px;
    display: flex;
    gap:30px;
 
}

.activites-cards .card {
    flex: 1 0 20%;
    padding: 0;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 380px;
}

.activites-cards .card-title {
    margin-left: 20px;
}


/****** Footer ***********/

.footer-container {
    background-color: var(--main-bg-color);
    display:flex;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-widget {
    width: calc(100%/3);
    padding: 20px;
}

h3.footer-widget-title {
    margin: 0;
    font-size: 18px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #filters {
        flex-wrap:wrap;
    }

    #filters-label {
        flex: 1 0 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height:200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        padding: 0px;
    }

    /* Adapation menu */
    #top-menu {
        width: 100%;
    }
    
    #top-menu ul {
        padding:0;
        margin: 0;
        line-height: 51px;
        justify-content: center;
        gap: 0;
    }

    .menu-item:hover {
        border-color: var(--main-color);
    }
    
    .menu-item {
        border-bottom: 2px solid var(--main-bg-color);
    }

    .menu-item {
        align-self: stretch;
        width: 100%;
        display: block;
        text-align: center;
    }

    #top-menu ul li a {
        display:block;
        height:100%;
        width:100%;
        padding:0;
    }

    #top-menu ul li a:active, #top-menu ul li a:hover {
        color: var(--main-color);
        border-top: 0;
    }

    /* Adapation filters et form */

    #filters-list {
        gap: 10px;
    }

    .filter-item {
        flex: 1 0 35%;
    }

    section#search-section {
        padding: 20px;
    }

    .search-icon {
        display: block;
    }

    .search-label {
        display: none;
    }

    #search-form > button {
        border-radius: 15px;
        margin-left: -15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    }

    #search-form > input[type="search"] {
        width:80%;
    }

    .filter-link {
        font-size:14px;
        padding: 0 10px;
    }

    /* Adapation cards */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
        margin-top:0px;
    }

    .populaires-cards {
        flex-direction:column;
    }

    .hebergements-cards, .activites-cards {
        flex-direction:column;
        gap:15px;
        margin-top: 15px;
    }

    .populaires-cards .card {
        width:100%;
        margin-top:15px;
    }

    section.populaires {
        border-radius:0;
    }

    section.hebergements {
        background-color: #fff;
    }

    .activites-cards .card {
        margin-top:0px;
    }

    .activites-cards img {
        height: 141px;
    }

    /* Adapation footer */

    .footer-container {
        flex-direction:column;
    }


}